In [1]:
# Let's import the libraries we need, first we'll check the class counts, data types, null values,
# basically make sure we can work with this data

import tensorflow
print(tensorflow.__version__)

2.3.0

In [2]:
import keras
from keras import backend as K

print('Keras version:',keras.__version__)

Keras version: 2.4.3

In [3]:
import pandas as pd
import numpy as np

In [4]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [5]:
# Let's look at the researchers metadata starting with COVID-19
covid = pd.read_excel('/gdrive/My Drive/Covid Metadata/COVID-19.metadata.xlsx')
covid.head()

     FILE NAME  ...                                                URL
0  COVID-19(1)  ...  https://www.sciencedirect.com/science/article/...
1  COVID-19(2)  ...  https://www.sciencedirect.com/science/article/...
2  COVID-19(3)  ...  https://www.sciencedirect.com/science/article/...
3  COVID-19(4)  ...  https://www.sciencedirect.com/science/article/...
4  COVID-19(5)  ...  https://www.sciencedirect.com/science/article/...

[5 rows x 4 columns]

In [6]:
covid.info() # note we have 219 entries, which match the images we examined, let's check the data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   FILE NAME  219 non-null    object
 1   FORMAT     219 non-null    object
 2   SIZE       219 non-null    object
 3   URL        219 non-null    object
dtypes: object(4)
memory usage: 7.0+ KB

In [7]:
covid['FILE NAME'] = covid['FILE NAME'].str.replace("("," (") # the images in the folders
                                                              # have a space before the parenthesis

In [8]:
covid['FILE NAME']

0        COVID-19 (1)
1        COVID-19 (2)
2        COVID-19 (3)
3        COVID-19 (4)
4        COVID-19 (5)
            ...
214    COVID-19 (215)
215    COVID-19 (216)
216    COVID-19 (217)
217    COVID-19 (218)
218    COVID-19 (219)
Name: FILE NAME, Length: 219, dtype: object

In [9]:
# metadata for class #2
normal = pd.read_excel('/gdrive/My Drive/Covid Metadata/Normal.metadata.xlsx')
normal.head()

  FILE NAME  ...                                                URL
0  NORMAL-1  ...  https://www.kaggle.com/paultimothymooney/chest...
1  NORMAL-2  ...  https://www.kaggle.com/paultimothymooney/chest...
2  NORMAL-3  ...  https://www.kaggle.com/paultimothymooney/chest...
3  NORMAL-4  ...  https://www.kaggle.com/paultimothymooney/chest...
4  NORMAL-5  ...  https://www.kaggle.com/paultimothymooney/chest...

[5 rows x 4 columns]

In [10]:
normal.info() # 1341 entries of normal xrays, which also match the folders

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1341 entries, 0 to 1340
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   FILE NAME  1341 non-null   object
 1   FORMAT     1341 non-null   object
 2   SIZE       1341 non-null   object
 3   URL        1341 non-null   object
dtypes: object(4)
memory usage: 42.0+ KB

In [11]:
# remove dash and add parenthesis to match the image files in the folders
normal['FILE NAME'] = normal['FILE NAME'].str.replace('-',' (') + ")"

In [12]:
# class #3
pneumonia = pd.read_excel('/gdrive/My Drive/Covid Metadata/Viral Pneumonia.metadata.xlsx')
pneumonia.head()

           FILE NAME  ...                                                URL
0  Viral Pneumonia-1  ...  https://www.kaggle.com/paultimothymooney/chest...
1  Viral Pneumonia-2  ...  https://www.kaggle.com/paultimothymooney/chest...
2  Viral Pneumonia-3  ...  https://www.kaggle.com/paultimothymooney/chest...
3  Viral Pneumonia-4  ...  https://www.kaggle.com/paultimothymooney/chest...
4  Viral Pneumonia-5  ...  https://www.kaggle.com/paultimothymooney/chest...

[5 rows x 4 columns]

In [13]:
pneumonia.info() # 1345 entries which also match the folders

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1345 entries, 0 to 1344
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   FILE NAME  1345 non-null   object
 1   FORMAT     1345 non-null   object
 2   SIZE       1345 non-null   object
 3   URL        1345 non-null   object
dtypes: object(4)
memory usage: 42.2+ KB

In [14]:
# remove dash and add parenthesis to match the image files in the folders
pneumonia['FILE NAME'] = pneumonia['FILE NAME'].str.replace('-',' (') + ")"

In [15]:
# No data type issues, no null values, what we don't have is a class column 
# We'll get the class names exactly as shown on the data generator and the image folders
covid['Class'] = 'COVID-19'
normal['Class'] ='Normal'
pneumonia['Class'] = 'Viral Pneumonia'

In [16]:
covid.head()

      FILE NAME  ...     Class
0  COVID-19 (1)  ...  COVID-19
1  COVID-19 (2)  ...  COVID-19
2  COVID-19 (3)  ...  COVID-19
3  COVID-19 (4)  ...  COVID-19
4  COVID-19 (5)  ...  COVID-19

[5 rows x 5 columns]

In [17]:
normal.head()

    FILE NAME FORMAT  ...                                                URL   Class
0  NORMAL (1)    PNG  ...  https://www.kaggle.com/paultimothymooney/chest...  Normal
1  NORMAL (2)    PNG  ...  https://www.kaggle.com/paultimothymooney/chest...  Normal
2  NORMAL (3)    PNG  ...  https://www.kaggle.com/paultimothymooney/chest...  Normal
3  NORMAL (4)    PNG  ...  https://www.kaggle.com/paultimothymooney/chest...  Normal
4  NORMAL (5)    PNG  ...  https://www.kaggle.com/paultimothymooney/chest...  Normal

[5 rows x 5 columns]

In [18]:
pneumonia.head()

             FILE NAME  ...            Class
0  Viral Pneumonia (1)  ...  Viral Pneumonia
1  Viral Pneumonia (2)  ...  Viral Pneumonia
2  Viral Pneumonia (3)  ...  Viral Pneumonia
3  Viral Pneumonia (4)  ...  Viral Pneumonia
4  Viral Pneumonia (5)  ...  Viral Pneumonia

[5 rows x 5 columns]

In [19]:
# create ratio to make take a random sample from the normal data set the same size as the covid set
normal_new = 219/1341
normal_new

0.16331096196868009

In [20]:
# address the class imbalance by taking a random sample of the normal 
# and pneumonia data sets of the same size as the covid data set
# making them equal
normal = normal.sample(frac=normal_new).reset_index(drop=True)
normal.shape[0]

219

In [21]:
normal.head()

       FILE NAME  ...   Class
0   NORMAL (568)  ...  Normal
1  NORMAL (1237)  ...  Normal
2   NORMAL (789)  ...  Normal
3   NORMAL (433)  ...  Normal
4   NORMAL (663)  ...  Normal

[5 rows x 5 columns]

In [22]:
# do the same with the pneumonia data set
pneumonia_new = 219/1345
pneumonia = pneumonia.sample(frac=pneumonia_new).reset_index(drop=True)
pneumonia.shape[0]

219

In [23]:
# combine the two new dataframes vertically
noncovid = pd.concat([normal, pneumonia]).reset_index(drop=True)
noncovid.head()

       FILE NAME  ...   Class
0   NORMAL (568)  ...  Normal
1  NORMAL (1237)  ...  Normal
2   NORMAL (789)  ...  Normal
3   NORMAL (433)  ...  Normal
4   NORMAL (663)  ...  Normal

[5 rows x 5 columns]

In [24]:
# add the covid dataframe vertically as well
allclasses = pd.concat([covid, noncovid]).reset_index(drop=True)
allclasses.head()

      FILE NAME  ...     Class
0  COVID-19 (1)  ...  COVID-19
1  COVID-19 (2)  ...  COVID-19
2  COVID-19 (3)  ...  COVID-19
3  COVID-19 (4)  ...  COVID-19
4  COVID-19 (5)  ...  COVID-19

[5 rows x 5 columns]

In [25]:
# take a random sample of the entire data set to randomize the entries
allclasses = allclasses.sample(frac=1).reset_index(drop=True)
allclasses.head()

                FILE NAME  ...            Class
0  Viral Pneumonia (1320)  ...  Viral Pneumonia
1    Viral Pneumonia (57)  ...  Viral Pneumonia
2          COVID-19 (150)  ...         COVID-19
3             NORMAL (78)  ...           Normal
4            NORMAL (667)  ...           Normal

[5 rows x 5 columns]

In [26]:
# Check the size of each set of classes is equal
len(allclasses)/3

219.0

In [27]:
# add .png to all the class names to match the image names
allclasses['FILE NAME'] = allclasses['FILE NAME'].astype(str) + '.png'

In [28]:
allclasses.head()

                    FILE NAME  ...            Class
0  Viral Pneumonia (1320).png  ...  Viral Pneumonia
1    Viral Pneumonia (57).png  ...  Viral Pneumonia
2          COVID-19 (150).png  ...         COVID-19
3             NORMAL (78).png  ...           Normal
4            NORMAL (667).png  ...           Normal

[5 rows x 5 columns]

In [29]:
# save data for later use
allclasses = allclasses.to_csv('/gdrive/My Drive/allclasses', header=True)
allclasses